<%- include("partials/header.ejs") %>
<div id="writingSection">
    <form action="/read" method="post">
        <input type="text" name="title" id="title" placeholder="Give your blog a cool title"><br><br>
        <textarea type="text" name="content" id="content" placeholder="Begin your magic!"></textarea><br>
        <br><input class="submitButton" type="submit" value="Submit">
    </form>
</div>
<%- include("partials/footer.ejs") %>
